# vi: set ft=sls :
# This file is managed by Salt. Edit influxdb/files/logrotate.conf.jinja

{{ pillar["influxdb"]["logging"]["directory"] }}/*.log {
  daily
  rotate 3
  copytruncate
  compress
  delaycompress
  notifempty
  missingok
  su influxdb influxdb
}
